* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
  }
  
  header {
    font-size: 10vmin;
    letter-spacing: 1vmin;
    color: darkslategray;
  }

  h3 {
    font-size: 4vmin;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 14vmin);
    grid-template-rows: repeat(3, 14vmin);
    margin: 5vmin;
  }
  
  #board > div {
    border: 0.5vmin solid saddlebrown;
    text-align: center;
    font-size: 8vmin;
  }
  
  #board > div:hover {
    background-color: linen;
  }

  #board > .top {
    border-top: none;
  }
  #board > .right {
    border-right: none;
  }
  #board > .left {
    border-left: none;
  }
  #board > .bottom {
    border-bottom: none;
  }

  button {
    padding: 2vmin;
    border-radius: 25%;
    border: none;
    font-size: 2vmin;
    background-color: darkseagreen;
  }